<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792305798798-mg41765e3s4ebgfiabhlkad1dsr24are.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792305798798-mg41765e3s4ebgfiabhlkad1dsr24are</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>792305798798-k2vsfjs03muidg4d8htcbu30r0mes352.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpPRJwGYLKENvJqdT-YHTePe0gakjXHuU</string>
	<key>GCM_SENDER_ID</key>
	<string>792305798798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.puzzle9to6</string>
	<key>PROJECT_ID</key>
	<string>to-6-d7e8f</string>
	<key>STORAGE_BUCKET</key>
	<string>to-6-d7e8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792305798798:ios:c46ef39af7abe8760483df</string>
</dict>
</plist>